.manage-user-container{
    margin: 15px 0 15px 15px;
   
    .title{
        font-weight: 600;
        font-size: 24px;
        color: rgb(143, 158, 244);
    }
    .users-content{
       
        .btn-add-new{
          margin: 15px 0px;
        }
    }
}

.modal-add-user{
    .img-preview{
           border: 1px dashed rgb(196, 187, 187);
           border-radius: 5px;
           display: flex;
           justify-content: center;
           align-items: center;
           color: rgb(175, 175, 169);
           height: 150px;

        img{
            max-width: 100%;
            max-height: 100%;
        }
    }
    .label-upload{
       
        padding: 4px 10px;
        display: flex;
        gap: 5px;
        align-items: center;
        cursor: pointer;
        border-radius: 5px;
        background-color: rgb(185, 190, 195);
        width: fit-content;
        
        &:hover{
            background-color: rgb(137, 141, 144);
        }
    }
}